[user]
	email = knarkzel@gmail.com
	name = Knarkzel
[credential]
	helper = store
[core]
    editor = emacsclient -nw
[pager]
	diff = delta --light
	log = delta --light
	reflog = delta --light
	show = delta --light
[init]
	defaultBranch = master
[delta]
    line-numbers = true
