[user]
	email = ohmyhren@uia.no
	name = Odd-Harald Lillestø Myhren
[credential]
	helper = store
[core]
	editor = nvim
[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta
[init]
	defaultBranch = main
